/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.nav-wide > li {
  padding-right: 10px;
}


/* my custom stylesheet
pulling all style conventions used on my past project */

.left   { text-align: left;}
.center { text-align: center; }
.right  { text-align: right; }

/* borders */
.border {
    border-style: solid;
    border-width: 1px;
}

.border-black { border-color: #000000; }
.border-grey { border-color: #D7D7D7; }

.bold { font-weight: bold; }

.top { vertical-align: top; }
.inline-block { display: inline-block; }

/* div distributions */
.ten-page           { display: inline-block; width: 10%; }
.fifteen-page       { display: inline-block; width: 15%; }
.twenty-page        { display: inline-block; width: 20%; }
.twentyfive-page    { display: inline-block; width: 25%; }
.quarter-page       { display: inline-block; width: 25%; }
.thirty-page        { display: inline-block; width: 30%; }
.third-page         { display: inline-block; width: 33.33%; }
.thirtyfive-page    { display: inline-block; width: 35%; }
.fourty-page        { display: inline-block; width: 40%; }
.fourtyfive-page    { display: inline-block; width: 45%; }
.fifty-page         { display: inline-block; width: 50%; }
.fiftyfive-page     { display: inline-block; width: 55%; }
.sixty-page         { display: inline-block; width: 60%; }
.sixtyfive-page     { display: inline-block; width: 65%; }
.seventy-page       { display: inline-block; width: 70%; }
.seventyfive-page   { display: inline-block; width: 75%; }
.three-quarter-page { display: inline-block; width: 75%; }
.eighty-page        { display: inline-block; width: 80%; }
.eightyfive-page    { display: inline-block; width: 85%; }
.ninety-page        { display: inline-block; width: 90%; }
.ninetyfive-page    { display: inline-block; width: 95%; }
.full-page          { display: inline-block; width: 100%; }

/* padding */
.padding-1 { padding: 1px; }
.padding-2 { padding: 2px; }
.padding-3 { padding: 3px; }
.padding-4 { padding: 4px; }
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-15 { padding: 25px; }

.padding-left-3 { padding-left: 3px; }
.padding-left-5 { padding-left: 3px; }

.padding-top-5 { padding-top: 5px; }
.padding-top-3 { padding-top: 3px; }
.padding-top-10 { padding-top: 10px; }
.padding-top-20 { padding-top: 20px; }

.padding-bottom-5 { padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-20 { padding-bottom: 20px; }

/* margins */
.margin-1 { margin: 1px; }
.margin-2 { margin: 2px; }
.margin-3 { margin: 3px; }
.margin-4 { margin: 4px; }
.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-15 { margin: 25px; }

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 4px;
}

.pointer { cursor: pointer !important; }

.line-height-small { line-height: 1em; }
