/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0px 30px 30px 30px;
}
.container .text-muted {
  margin: 20px 0;
}
.navbar {
  margin-bottom: 0px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* navbar styles */
.navbar-user {
  display: none;
}
.navbar-logout {
  float: right;
  padding: 5px;
}
.navbar-toggle {
  float: left;
  margin: 10px;
}
.navbar-brand-wrapper {
  text-align: center;
  margin-top: 10px;
}
.navbar-brand-wrapper > .navbar-brand {
  float: none;
  font-size: 14px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .navbar-user {
    display: block;
    padding: 10px;
    float: left;
  }
  .navbar-logout {
    float: none;
    text-align: right;
  }
  .navbar-nav {
    float: right;
    margin-top: 35px;
  }
  .navbar-brand {
    font-size: 20px !important;
  }
}

/* my custom stylesheet
pulling all style conventions used on my past project */

.left   { text-align: left;}
.center { text-align: center; }
.right  { text-align: right; }

.relative { position: relative; }

.hidden { display: none; }

/* borders */
.border {
    border-style: solid;
    border-width: 1px;
}

.border-black { border-color: #000000; }
.border-grey { border-color: #D7D7D7; }

.bold { font-weight: bold; }

.top { vertical-align: top; }
.inline-block { display: inline-block; }

/* div distributions */
.ten-page           { display: inline-block; width: 10%; }
.fifteen-page       { display: inline-block; width: 15%; }
.twenty-page        { display: inline-block; width: 20%; }
.twentyfive-page    { display: inline-block; width: 25%; }
.quarter-page       { display: inline-block; width: 25%; }
.thirty-page        { display: inline-block; width: 30%; }
.third-page         { display: inline-block; width: 33.33%; }
.thirtyfive-page    { display: inline-block; width: 35%; }
.fourty-page        { display: inline-block; width: 40%; }
.fourtyfive-page    { display: inline-block; width: 45%; }
.fifty-page         { display: inline-block; width: 50%; }
.half-page          { display: inline-block; width: 50%; }
.fiftyfive-page     { display: inline-block; width: 55%; }
.sixty-page         { display: inline-block; width: 60%; }
.sixtyfive-page     { display: inline-block; width: 65%; }
.seventy-page       { display: inline-block; width: 70%; }
.seventyfive-page   { display: inline-block; width: 75%; }
.three-quarter-page { display: inline-block; width: 75%; }
.eighty-page        { display: inline-block; width: 80%; }
.eightyfive-page    { display: inline-block; width: 85%; }
.ninety-page        { display: inline-block; width: 90%; }
.ninetyfive-page    { display: inline-block; width: 95%; }
.full-page          { display: inline-block; width: 100%; }

/* padding */
.padding-1 { padding: 1px; }
.padding-2 { padding: 2px; }
.padding-3 { padding: 3px; }
.padding-4 { padding: 4px; }
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-15 { padding: 25px; }

.padding-left-3 { padding-left: 3px; }
.padding-left-5 { padding-left: 3px; }

.padding-right-10 { padding-right: 10px; }

.padding-top-5 { padding-top: 5px; }
.padding-top-3 { padding-top: 3px; }
.padding-top-10 { padding-top: 10px; }
.padding-top-20 { padding-top: 20px; }
.padding-top-50 { padding-top: 50px; }

.padding-bottom-5 { padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-20 { padding-bottom: 20px; }
.padding-bottom-50 { padding-bottom: 50px; }

/* margins */
.margin-1 { margin: 1px; }
.margin-2 { margin: 2px; }
.margin-3 { margin: 3px; }
.margin-4 { margin: 4px; }
.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-15 { margin: 25px; }

.margin-top-10 { margin-top: 10px; }

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 4px;
}

.pointer { cursor: pointer !important; }

.line-height-small { line-height: 1em; }

.loading-spinner{
  width: 100%;
  height: 100%;
  background: url("/images/loading.gif") no-repeat center #fff;
  background-position: 50% 10%;
  position: absolute;
  opacity: 0.7;
  z-index: 9999;
  left:0px;
  top:0px;
}