<div class="container" ng-controller="InstagramCtrl">
  
  <div class="padding-top-20 padding-bottom-20">
    <h1><strong>Instagram Friend Manager</strong></h1>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="" role="tab" data-toggle="tab" ng-click="loadUsers('follows')">Following</a></li>
    <li><a href="" role="tab" data-toggle="tab" ng-click="loadUsers('followedBy')">Followers</a></li>
    <li><a href="" role="tab" data-toggle="tab" ng-click="loadUsers('fans')">Fans</a></li>
    <li><a href="" role="tab" data-toggle="tab" ng-click="loadUsers('idols')">Idols</a></li>
  </ul>
  
  <div class="padding-top-5 padding-bottom-5">
    <h3>{{usersCount}}</h3>
  </div>

  <div class="row">
    <div ng-repeat="user in users" class="col-md-3">
      <div class="margin-5 padding-5 border border-grey ui-corner-all center top">
        <div class="top left padding-5">
          <a href="http://instagram.com/{{user.username}}" target="_blank">
            <img class="border border-grey padding-3 ui-corner-all" ng-src="{{user.profile_picture}}" alt="..." class="img-rounded">
          </a>
        </div>
        <div class="top left padding-5">
          <div class=""><a href="http://instagram.com/{{user.username}}" target="_blank"><span>{{user.username}}</span></a></div>
          <div class="padding-top-5" ng-show="!user.follow"><button type="button" class="btn btn-success" ng-click="toggleRelationship(user)">follow</button></div>
          <div class="padding-top-5" ng-show="user.follow"><button type="button" class="btn btn-danger" ng-click="toggleRelationship(user)">unfollow</button></div>
        </div>
      </div>
    </div>        
  </div>

</div>