<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div ng-repeat="user in users" class="col-md-1">
          <div wb-user-popover="user" class="" style="margin-left:auto;margin-right:auto;padding-top:3px;">
            <a href="http://instagram.com/{{user.username}}" target="_blank">
              <img class="ui-corner-all img-rounded" ng-src="{{user.profile_picture}}" alt="..." style="width:100%;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="user_popup_template">
  <div id="{{elId}}" style="width:250px;">
    <div class="quarter-page top">
      <div style="margin-left:auto;margin-right:auto;padding-top:3px;">
        <img class="ui-corner-all img-rounded" ng-src="{{user.profile_picture}}" alt="..." style="width:100%;">
      </div>
    </div><div class="three-quarter-page top">
      <div class="padding-left-3">{{user.full_name}}</div>
      <div class="padding-left-3">
        <a href="http://instagram.com/{{user.username}}" target="_blank">@{{user.username}}</a>
      </div>
    </div>
    <div>Web: {{user.website}}</div>
    <div>Bio: {{user.bio}}</div>
    
    <div class="third-page top center">
      photos
    </div><div class="third-page top center">
      following
    </div><div class="third-page top center">
      followers
    </div>
  </div>
</script>