<div class="">
  {{subHeader}}
</div>

<div class="padding-top-10">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="row">
        <div ng-repeat="user in users" class="col-md-1 col-xs-2">
          <div wb-user-popover="user" class="" style="margin-left:auto;margin-right:auto;padding-top:3px;">
            <a href="http://instagram.com/{{user.username}}" target="_blank">
              <img class="ui-corner-all img-rounded" ng-src="{{user.profile_picture}}" alt="..." style="width:100%;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="user_popup_template">
  <div id="{{elId}}" class="popover-el" style="width:250px;" wb-popover-manual-hide="user">
    <div class="quarter-page top">
      <div style="margin-left:auto;margin-right:auto;padding-top:3px;">
        <img class="ui-corner-all img-rounded" ng-src="{{user.profile_picture}}" alt="..." style="width:100%;">
      </div>
    </div><div class="three-quarter-page top">
      <div class="padding-left-5 line-height-small">
        <span class="small">{{user.full_name}}</span>
      </div>
      <div class="padding-left-5 line-height-small">
        <a href="http://instagram.com/{{user.username}}" target="_blank">
          <span class="small">@{{user.username}}</span>
        </a>
      </div>
    </div>

    <div class="padding-top-5">
      <div class="line-height-small"><span class="small"><span class="bold">Web:</span> {{user.website}}</span></div>
      <div class="line-height-small"><span class="small"><span class="bold">Bio:</span> {{user.bio}}</span></div>
    </div>
    
    <div class="padding-top-5">
      <div class="third-page top">
        <div class="line-height-small"><span class="small bold">{{user.counts.media}}</span></div>
        <div class="line-height-small"><span class="small">photos</span></div>
      </div><div class="third-page top">
        <div class="line-height-small"><span class="small bold">{{user.counts.follows}}</span></div>
        <div class="line-height-small"><span class="small">following</span></div>
      </div><div class="third-page top">
        <div class="line-height-small"><span class="small bold">{{user.counts.followed_by}}</span></div>
        <div class="line-height-small"><span class="small">followers</span></div>
      </div>
    </div>

    <div class="padding-top-5">
      <div class="half-page top center">
        <button ng-show="user.outgoing_status === 'none'" type="button" class="btn btn-sm btn-block btn-default" ng-click="">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Follow
        </button>
        <button ng-show="user.outgoing_status === 'follows'" type="button" class="btn btn-sm btn-block btn-success" ng-click="">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Following
        </button>
      </div>
    </div>
  </div>
</script>