<!-- <div style="">
  <div ng-repeat="tab in tabs" wb-tab-select this-tab="tab" cur-tab="curTab" style="display:inline-block; padding-right:10px;">{{tab}}</div>
</div> -->

<!-- <div class="">
  <div class="row">
    <div ng-repeat="user in follows" class="col-md-1">
      <div class="" style="margin-left:auto;margin-right:auto;padding-top:3px;">
        <a href="http://instagram.com/{{user.username}}" target="_blank">
          <img class="ui-corner-all img-rounded" ng-src="{{user.profile_picture}}" alt="..." style="width:100%;">
        </a>
      </div>
    </div>
  </div>
</div> -->

user: {{user}}
