 <!DOCTYPE html>
  <html lang="en" ng-app="friendManager">
    <head>
      <title>Instagram Friend Manager</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/styles.css">

    </head>
    <body>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
      <script src="js/app.js"></script>

      <div class="container" ng-controller="UsersCtrl">

        <h1>IFM Angularrr</h1>

        <ul>
          <li><a href="" ng-click="loadUsers('follows')">follows</a></li>
          <li><a href="" ng-click="loadUsers('followedBy')">followed by</a></li>
          <li><a href="" ng-click="loadUsers('fans')">fans</a></li>
          <li><a href="" ng-click="loadUsers('idols')">idols</a></li>
        </ul>
        
        Number of Users: {{usersCount}}

        <div class="row">
          <div ng-repeat="user in users" class="col-md-3">
            <div class="margin-5 padding-5 border border-grey ui-corner-all center top">
              <div class="top left padding-5">
                <img class="border border-grey padding-3 ui-corner-all" ng-src="{{user.profile_picture}}" alt="..." class="img-rounded">
              </div>
              <div class="top left padding-5">
                <div class=""><span>{{user.full_name}}</span></div>
                <div class=""><span>{{user.username}}</span></div>
                <div ngif="{{user.following}}"><button type="button" class="btn btn-success" ng-click="">follow</button></div>
                <div ngif="!{{user.following}}"><button type="button" class="btn btn-danger" ng-click="">unfollow</button></div>
              </div>
            </div>
          </div>        
        </div>

    </body>
  </html>