 <!DOCTYPE html>
  <html lang="en" ng-app="friendManager">
    <head>
      <title>Instagram Friend Manager</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="css/styles.css">

    </head>
    <body>
      <script src="https://code.angularjs.org/1.2.0/angular.min.js"></script>
      <script src="https://code.angularjs.org/1.2.0/angular-route.min.js"></script>
      <script src="https://code.angularjs.org/1.2.9/angular-cookies.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>      
      
      <script src="js/app.js"></script>      
      <!-- script src="js/routes.js"></script> -->
      <script src="js/instagram_controller.js"></script>      
      <script src="js/instagram_service.js"></script>      

      <div class="container" ng-controller="UsersCtrl">
        
        <div class="padding-top-20 padding-bottom-20">
          <h1><strong>Instagram Friend Manager</strong></h1>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="" role="tab" data-toggle="tab" ng-click="loadUsers('follows')">Following</a></li>
          <li><a href="" role="tab" data-toggle="tab" ng-click="loadUsers('followedBy')">Followers</a></li>
          <li><a href="" role="tab" data-toggle="tab" ng-click="loadUsers('fans')">Fans</a></li>
          <li><a href="" role="tab" data-toggle="tab" ng-click="loadUsers('idols')">Idols</a></li>
        </ul>
        
        <div class="padding-top-5 padding-bottom-5">
          <h3>{{usersCount}}</h3>
        </div>

        <div class="row">
          <div ng-repeat="user in users" class="col-md-3">
            <div class="margin-5 padding-5 border border-grey ui-corner-all center top">
              <div class="top left padding-5">
                <a href="http://instagram.com/{{user.username}}" target="_blank">
                  <img class="border border-grey padding-3 ui-corner-all" ng-src="{{user.profile_picture}}" alt="..." class="img-rounded">
                </a>
              </div>
              <div class="top left padding-5">
                <div class=""><a href="http://instagram.com/{{user.username}}" target="_blank"><span>{{user.username}}</span></a></div>
                <div class="padding-top-5" ng-show="!user.follow"><button type="button" class="btn btn-success" ng-click="toggleRelationship(user)">follow</button></div>
                <div class="padding-top-5" ng-show="user.follow"><button type="button" class="btn btn-danger" ng-click="toggleRelationship(user)">unfollow</button></div>
              </div>
            </div>
          </div>        
        </div>

      </div>

    </body>
  </html>